
/*Color para las etiquetas*/   
body{
    background-color: rgb(106, 206, 192);
}
p{
    background-color: rgb(15, 98, 109);
    text-align: center;

}


/*Fuente para los distintos textos*/   
.texto {
/*Font size es el tamaño de la letra, Weight es la altura y donde dice
aling es la posicion del tecto, en este caso el centro*/    
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);

}
.texto1 {
   
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        color: rgb(0, 0, 0);
    
    }
.texto2{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}


/* Agregar botones a las ditintas url*/   
.boton{
    background-color: rgb(91, 230, 248);
    padding: 5%;
    margin: 20px;
    font-size: large;
    border: 1 px indigo;
}

#barra{
    display: flex;
}
.fondo{
    background-color: rgb(15, 98, 109);
}

h3 {
   
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
}